/*학과 : 컴퓨터 공학과 
학번 : 2014210057 
이름 : 김지혜
파일 이름 : projectCss.css
파일 설명 : projectCss.css 페이지에 적용되는 css코드를 작성 한 css파일
파일 라인 수 : 79*/
.project_box{
    width:29%;
    height:440px;
    text-align:center;
    margin:24px;
    margin-bottom:124px;
    padding-top:24px;
    border:darkgray solid 2px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px darkgray;
    transition:0.5s;
}
.project_full_box{
    height:540px;
    margin-bottom:24px;
}
.project_image_box{
    border:2px solid darkgray;
    width:90%;
    height:320px;
    margin:auto;
    border-radius:8px;
    box-shadow: 2px 2px 8px darkgray;
}
.project_image_item{
    width:100%;
    height:100%;
    margin:0;
    border-radius:8px;
}
.project_summary_box{
    padding-top:8px;
    padding-bottom:8px;
    height:200px;
}
.project_summary_box div{
    padding:8px;
}
.project_title{
    font-size:24px;
    font-weight: bold;
}
.project_period{
    border-top:lightgray solid 1px;
    text-align: right;
    border-bottom:lightgray solid 1px;
}
.project_detail{
    height:100px;
    overflow: scroll;
}
@media (max-width: 1024px) {
    .project_box{
        width:44%;
    }

}
@media (max-width: 360px) {
    .project_box{
        width:320px;
        margin:0;
        margin-bottom:24px;
        height:384px;
    }.project_image_box{
        height:300px;
    }
    .project_full_box{
        height:506px;       
    }
    .project_title{
        font-size:16px;
    }
}